14_sorted_as_15.properties 14local_merged_with_15.properties 14local_ordered_as_15.properties 15_ordered_as_15.properties Messages.14.properties Messages.14local.properties Messages.15.properties Messages_sv.14local.properties my.txt my_ordered.txt myresult.txt result.txt their.txt
